.App {
  text-align: center;
}

.App-header {
  background: rgb(255,50,50);
  background: linear-gradient(180deg, rgba(255,50,50,1) 0%, rgba(255,101,50,1) 100%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App-link {
  color: #61dafb;
}